.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px; /* adjust as needed */
    background-color: #4b0082; /* or any color you like */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
.header .links{
    display: flex;
    position: relative;

}
.links ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}
.links ul li{
    list-style: none;   
    font-size: 1.5rem;
}
.right{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:2rem
}
.right select{
    padding: 0.5rem;                
    border: none; 
    font-size: 1rem;      
    border-radius: 5px;
    outline: none;     
}

.right button{   
    padding:  0.5rem;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    outline: none;
   }